@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  display: flex;
  justify-content: center;

}

body{
  width: 40%;
}

#root {
  padding: 16px 16px 16px 16px;
  height: 100%;
}

@media (max-width: 768px){
  width:100%;
}
