@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  font-family: 'Gaegu', cursive;
}

#root {
  background: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
